.createProductWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createProductForm {
  border: 0.1rem solid black;
  border-radius: 1rem;
  width: 40%;
  height: 70vh;
  font-size: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  input {
    width: 100%;
    font-size: 2rem;
  }
  button {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: rgb(21, 21, 79);
    color: white;
  }
  button:hover {
    background-color: white;
    color: rgb(21, 21, 79);
  }
  @media (max-width: 768px) {
    width: 90%;
  }
}
